@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="fw-light display-4">Welcome to ChowDown Pizza</h1>
    <h6 class="align-text-bottom">Everyone eats at ChowDownPizza</h6>
</div>

<div class="row text-center justify-content-center">

    @foreach (var item in Model.menuItems)
    {
        var imagePath = "~/images/Pizzas/" + @item.ItemImagePath;
        <div class="card col-sm-3 m-2 ">
            <h5 class="card-header card-title">@item.ItemName</h5>
            <div class="parent">
                <img class="card-img-top w-70 mt-3" src="@imagePath" asp-append-version="true" alt="@item.ItemImagePath">
                <span class="dot">$@item.ItemFinalPrice</span>
            </div>
            <div class="card-body">
                <p class="card-text">@item.ItemDescription</p>
                <form method="post">
                    <button class="btn btn-primary" asp-area=""
                        asp-page-handler="AddToCart"
                        asp-route-itemID="@item.ID">
                        Add To Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>